:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: whitesmoke;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family:trail ;
  src: url("./assets/fonts/Questrial-Regular.ttf");
}

@font-face {
  font-family: without;
  src: url("./assets/fonts/WithoutAltSans-UltraBlack.ttf");
}

@font-face {
  font-family: boulder;
  src: url("./assets/fonts/Boulder-Bold.ttf");
}

@font-face {
  font-family: Skill;
  src: url("./assets/fonts/Fontspring-DEMO-skillet-regular.otf");
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}






/*this is where the css starts*/
.firstpart{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("./assets/images/kendrick.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.firstlayer{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   width: 100vw;
}



.firstlayer h2{
  font-family:trail;
}

.firstlayer a{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: #1a1a1a;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border:none;
  transition: all 1s ease-in-out;
}

.firstlayer a:hover{
  color:white;
  border: 1px solid black;
  background-color: #1a1a1a;
}

.firstlayer .playlist{
  background-color: #1a1a1a;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: whitesmoke;
  border-radius: 12px;
   transition: all 1s ease-in-out;
   font-size: 1em;
}


.navbar{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  width: 30vw;
  align-items: flex-start;
}

@media (max-width: 1000px){

   .firstpart{
    display: flex;
    flex-direction: column;
   }

   .firstlayer{
    display: flex;
    flex-direction: column;
   }

   .navbar{
    width: 100vw;
   }
}

.firstparttext{
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 5%;
}

.firstparttext h1{
  font-family: boulder;
  font-size: 5em;
  text-shadow: 1px 1px black;
}

.firstparttext button{
  width: fit-content;
  padding: 10px;
  padding-left:19px;
  padding-right:19px ;
  background-color: whitesmoke;
  color: #1a1a1a;
  font-family: without;
  border: none;
  transition: all 1s ease-in-out;
}

.firstparttext button:hover{
  background-color: #1a1a1a;
  color: white;
}

.info{
  width: 100vw;
  color: white;
  text-align: center;
  font-size: x-small;
  margin-top: 12%;
  text-shadow: 1px 1px black;
  font-weight: bolder;
}

/* css for the about us kendrick*/
.about{
  display: flex;
  flex-direction: rpw;
  width: 100%;
  justify-content: space-evenly;
  padding: 20px;
  align-items: center;
}


.about .kendrick{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.kendrick h1{
  font-family: skill;
  font-size: 5em;
}

.kendrick p{
  font-family: trail;
}

.kendrick a{
  width: fit-content;
  padding: 8px;
  background-color: #1a1a1a;
  color: white;
  font-family: trail;
  transition: all 1s ease-in-out;
  border: none;
}

.kendrick a:hover{
   background-color: navajowhite;
   color: #1a1a1a;
   border: 1px solid #1a1a1a;
}

.about .video{
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: end;
  align-items: center;
}

.video .icons{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: 46%;
  align-items: end; 
}

.about h3{
  font-family: skill;
  font-size: 2em
}

.icons ion-icon{
  font-size: 3em;
}


video{
  width: 70%;
  margin-top: 3%
}

@media (max-width: 1000px){
  .about{
    display: flex;
    flex-direction: column;
  }

  .about .video{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  video{
    width: 80%;
  }

  .video.icons{
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
  }
}

.logos{
  display: flex;
  flex-direction: row;
  width: 200%;
  margin-top: 5%;
  background-color:black;
  overflow: hidden;
}

.logos img{
  width: 10%;
  height: 6%;
  margin-right: 20px; 
}

.collaborations{
  display: flex;
  flex-direction: column;
  width: 100vw;
  text-align: center;
  margin-top: 5%;
}

.collaborations h1{
  font-family: boulder;
  color: #888;
  transition: color 1s ease-in-out;
}

.collaborations h1:hover{
  color: #1a1a1a;
}

 .artists{
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.jayrock a,.sza a,.schoolboy a{
  background-color: #1a1a1a;
  color: white;
  padding: 7px;
  width: fit-content;
  align-items: center;
  font-family: trail;
}


.jayrock ,.sza , .schoolboy {
  position: relative;
  height: 60vh;
  width: 100vw;
  overflow: hidden; 
}

.jayrock::before{
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/public/artist/jay rock.png"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: grayscale(80%) brightness(50%); 
  z-index: 1; 
  transition: border 0.3s ease; 
}


.sza::before{
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/images/artist/sza.png"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: grayscale(80%) brightness(50%); 
  z-index: 1; 
}

.schoolboy::before{
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/images/artist/school boyq.png"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: grayscale(80%) brightness(50%); 
  z-index: 1; 
}

.jayrocktext ,.szatext , .schoolboytext{
  position: relative; 
  margin-top: 40%;
  display: flex;
  flex-direction: column;
  padding: 7px;
  align-items: center;
  color: white;
  z-index: 2; 
  font-size: smaller;
}

.jayrocktext h2 , .szatext h2,.schoolboytext h2{
  font-family: skill;
  font-size: 2em;
}

.jayrocktext p , .szatext p , .schoolboytext p{
  font-family: trail;
}

@media (max-width: 1000px){
   .artists{
    display: flex;
    flex-direction: column;
   }

   .artists div{
    margin-top: 10%;
   }
}

.collaborations_text{
  margin-top: 5%;
  width: 100%;
  text-align: center;
  font-family: trail;
}

.gnx{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5%;
}

.gnx h1{
  font-family: boulder;
  font-size: 2em;
}

.gnxtext img{
  width: 27%;
}

.gnxtext{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.gnxtext .header{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  justify-content: left;
}

.header h2{
  font-family: without;
  color: #888;
}

.gnxalbum{
  width: 40%;
  text-align: center;
}

.gnxalbum .header ion-icon{
  margin-left: 2%;
  font-size: 2em;
}

.gnxalbum .songs{
   text-align: left;
   display: flex;
   flex-direction: column;
}

.gnxalbum .songs hr{
  width: 50%;
  margin-left: 0%;
}

.songs a{
  font-family: trail;
  color: black;
}
@media (max-width: 1000px){
  .gnxtext img{
    visibility: collapse;
  }

  .gnxalbum{
    width: 100vw;
    text-align: center;
  }

  .gnxalbum .songs{
    width: 100%;
    text-align: center;
  }

  .gnxalbum .songs hr{
    width: 50%;
    margin-left: 25%;
  }

  .gnxtext .header{
    justify-content: center;
  }
}

.footer{
  width: 100%;
  background-color: #1a1a1a;
  padding: 4px;
  color: whitesmoke;
  text-align: center;
  padding-top: 15px;
  margin-top: 2%;
  font-size: larger;
}


.footer .footericons ion-icon{
  margin-left: 13px;
}

.footer h2{
  font-family: trail;
}

.footer p{
  font-family: trail;
}